@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

:root {
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    min-height: 100%;
}

h1 {
    color: hsl(271, 36%, 24%);
}

p {
    color: hsl(270, 7%, 64%);
}


main {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F2F2F2;
    z-index: 2;
}

main::before {
    position: absolute;
    content: '';
    width: 31.875em;
    height: 63.625em;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    border-radius: 15.9375em;
    top: -31.8125em;
    left: -20.125em;
}

main::after {
    content: '';
    position: absolute;
    width: 31.875em;
    height: 63.625em;
    left: 11.75em;
    top: 26.6875em;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    mix-blend-mode: normal;
    opacity: 0.03;
    border-radius: 15.9375em;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -1;

}

li {
    list-style-type: none;
}

.gradient {
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
}

.center {
    margin: 0 auto;
}

.phone {
    position: relative;
    width: 15.4375em;
    height: 31.5625em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.875em;
    box-shadow: 0px 1.875em 3.75em -0.625em rgba(62, 39, 83, 0.251202);
    padding: 0.6875em 0.59375em;
    margin: 4em auto;
}

.phone::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    translate: -50%;
    width: 8.0625em;
    height: 1.8125em;
    background: #FFFFFF;
    border-radius: 0px 0px 0.875em 0.875em;
}

.phone-display {
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 1.25em;
    box-shadow: 0 0 0 0.0625em #F2F2F2;
}

header {
    width: 14.25em;
    height: 4.125em;
    box-shadow: 0px 1px 2px rgba(62, 39, 83, 0.1), 0px 3px 3px rgba(62, 39, 83, 0.09), 0px 6px 9px rgba(62, 39, 83, 0.05);
    border-radius: 1.25em 1.25em 0.375em 0.375em;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    padding: 1.875em 1.03125em 0.75em 0.96875em;
    padding: 2em 1.03125em 0.75em 0.96875em;
}

.header-container {
    width: 12.25em;
    height: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots {
    height: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dots li {
    width: 0.125em;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}

.deets {
    height: 1.5em;
    display: flex;
    align-items: center;
    margin: 0 4.75em 0 0.5em;
}

.deets img {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    border: 0.0625em solid white;
    margin-right: 0.5em;
}

.recipient-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipient-name h2 {
    display: inline-block;
    font-weight: 500;
    font-size: 0.6875em;
    line-height: 1.1818181818182em;
    color:hsl(0, 0%, 100%);
}

.deets h3 {
    display: inline-block;
    font-size: 0.5em;
    line-height: 1.125em;
    font-weight: 400;
    color: hsl(276, 100%, 81%);
    margin-top: 0.125em;
}

.chat {
    width: 14.25em;
    height: 100%;
    border-radius: 0.5em;
    padding: 0.46875em;
}

.chat-contents {
    display: grid;
    gap: 0.5em;
    width: 100%;
}

.chat-contents img {
    width: 2.5em;
    height: 2.5em;
}

.bubbles {
    display: flex;
    flex-direction: column;
}

.bubbles-right {
    align-items: flex-end;
}

.bubble {
    font-size: 0.5em;
    line-height: 1.375em;
    font-weight: 400;
    padding: 0.75em 1em;
    margin-bottom: 1em;
}

.left {
    color: hsl(276, 55%, 52%);
    background-color: #EEE5F4;
    border-radius: 0.625em 0.625em 0.625em 0.25em;
    text-align: left;
}

.right {
    color: hsl(271, 15%, 43%);
    background-color: white;
    border-radius: 0.625em 0.625em 0.25em 0.625em;
    text-align: right;
    box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
}

.max {
    width: 16em;
}

.image-bubble {
    padding: 0;
}

.chat-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.chat-images img {
    width: 5em;
    height: 5em;
    border-radius: 1.25em;
}

.radio {
    display: flex;
    align-items: center;
    width: 10em;
    height: 2em;
    color: white;
    background: linear-gradient(135deg, #E844FF 0%, #8739FF 100%);
    box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
    border-radius: 0.625em 0.625em 0.625em 0.25em;
    padding: 0 1em 0 0.5em;
    margin-bottom: 0.5em;
}

.selection {
    height: 0.75em;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #E472FF;
}

.radio-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0.5em;
}

.duration {
    font-size: 0.5em;
    line-height: 1.375em;
}

.cost {
    justify-self: right;
    font-weight: 700;
    font-size: 0.75em;
    line-height: 0.916666666667em;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13.3125em;
    height: 2.125em;
    background-color: white;
    border-radius: 16.9544px;
    color: #C5C9CC;
    padding: 0.25em 0.25em 0.25em 1.21375em;
    margin-top: 0.5em;
}

.input p {
    font-size: 0.5625em;
    letter-spacing: -0.0703125px;
    font-weight: 300;
    line-height: 1.2222222222em;
    margin-top: 0.356666666667em;
}

.input button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    width: 1.5625em;
    aspect-ratio: 1;
    background-color: #3E2753;
    border: none;
    border-radius: 50%;
}


.text {
    width: 19.4375em;
    height: 14.9375em;
    margin-bottom: 4em;
}

h1 {
    font-size: 2.5em;
    line-height: 1.175em;
    font-weight: 500;
    text-align: center;
    color:hsl(271, 36%, 24%);
}

.text p {
    font-size: 1em;
    line-height: 1.75em;
    font-weight: 300;
    text-align: center;
    color: #A39DA9;
    margin-top: 1.5em;
}

.attribution {
    position: absolute;
}

@media screen and ( min-width: 600px ) {
    html, body, main { 
        min-height: 100vh;
    }

    main::before {
        left: -12em;
    }

    main::after {
        left: 25em;
    }
}

@media screen and ( min-width: 800px ) {
    main::before {
        left: -9em;
    }

    main::after {
        left: 40em;
    }
}


@media screen and ( min-width: 1200px ) {
    body, html {
        height: 100%;
    }

    main {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100vw;
        padding-left: 6.4375em;
    }

    main::before {
        top: -19.875em;
        left: -5.625em;
    }

    main::after {
        top: 7.4375em;
        left: 55em;
    }

    .phone {
        margin: 0 7.8125em 0 0;
    }
    
    .text {
        width: 27.8125em;
        height: 11.4375em;
        margin: 0;
    }

    h1 {
        text-align: left;
    }

    .text p {
        font-weight: 400;
        text-align: left;
    }
}

@media screen and ( min-width: 1400px ) {
    main::before {
        left: -5.625em;
    }

    main::after {
        left: 69.6875em;
    }
}

@media screen and ( min-width: 1800px ) {
    body {
        font-size: 1.3em;
    }
}

@media screen and ( min-width: 2200px ) {
    body {
        font-size: 1.6em;
    }
}

@media screen and ( min-width: 2600px ) {
    body {
        font-size: 1.8em;
    }
}

@media screen and ( min-width: 3000px ) {
    body {
        font-size: 2.5em;
    }
}

@media screen and ( min-width: 3500px ) {
    body {
        font-size: 2.8em;
    }
}