@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --pale-violet: hsl(276, 100%, 81%);
    --mod-violet: hsl(276, 55%, 52%);
    font-family: 'Rubik', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}

h1 {
    color: hsl(271, 36%, 24%);
}

p {
    color: hsl(270, 7%, 64%);
}


main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    
}

main::before {
    content: '';
}

main::after {
    content: '';
}

li {
    list-style-type: none;
}

.gradient {
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
}

.center {
    margin: 0 auto;
}

.phone {
    width: 15.4375em;
    height: 31.5625em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    padding: 0.6875em 0.59375em;
}

header {
    width: 14.25em;
    height: 4.125em;
    box-shadow: 0px 0px 13px rgba(62, 39, 83, 0.251202);
    border-radius: 20px 20px 6px 6px;
    background: linear-gradient(225deg, #E844FF 0%, #8739FF 100%);
    padding: 1.875em 1.03125em 0.75em 0.96875em;
}

.header-container {
    width: 12.25em;
    height: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots {
    height: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dots li {
    width: 0.125em;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}

.deets {
    width: 6.625em;
    height: 1.5em;
    display: flex;
    align-items: center;
}

.deets img {
    height: 1.5em;
    aspect-ratio: 1;
    border-radius: 50%;
}

.recipient-name {
    display: flex;
    flex-direction: column;
}

.deets h2 {
    display: inline-block;
    font-size: 0.8125em;
    color:hsl(0, 0%, 100%);
}

.deets h3 {
    display: inline-block;
    font-size: 0.5em;
    color: hsl(276, 100%, 81%);
}

.chat {
    background-color: #F2F2F2;
    border-radius: 0.5em;
    padding: 0.4em 0.46875em;
}

.chat-contents {
    display: grid;
    gap: 0.5em;
    /* height: 23em; */
}

.chat-contents img {
    width: 2.5em;
    height: 2.5em;
}

.bubble-group > ul {
    display: flex;
    flex-direction: column;
}

.left-bubble {
    margin-right: 5.3125em;
}

.right-bubble {
    align-items: flex-end;
    margin-left: 5.3125em;
}

.bubble {
    border-radius: 1em;
    font-size: 0.5em;
    line-height: 1.375em;
    font-weight: 400;
    padding: 0.375em 0.5em;
    margin-bottom: 1em;
}

.left {
    color: hsl(276, 55%, 52%);
    background-color: #EEE5F4;
    text-align: left;
    /* margin-right: 5em; */
}

.right {
    color: hsl(271, 15%, 43%);
    background-color: white;
    text-align: right;
    /* margin-left: 5em; */
}

.chat-images {
    display: flex;
}

.radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10em;
    background: linear-gradient(225deg, #8739FF 0%, #E844FF 100%);

}

.input {
    background-color: white;
    padding: 0.3em;
    border-radius: 0.5em;
}

.text {
    width: 19.4375em;
    height: 14.9375em;
}

.attribution {
    position: absolute;
}